.cyan-text{
    color: #00FFFF;
}

.homepage{
    background-color: #2E2E2E;
    height: calc(100vh - 7rem);
    display: flex;
}

.intro{
    color: white;
    font-family: 'Montserrat';
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-size: 1.25rem;
}

.large-image{
    flex: 1;
    flex-shrink: 1;
    max-width: 100%;
    height: auto;
    width: 50vw;
}

@media (max-width: 768px){
    
    .homepage{
        flex-direction: column;
        align-items: center;
    }
    
    .large-image{
        display: none;
    }
}