hr {
    border: none;         /* Removes default border */
    height: 1px;          /* Sets thickness */
    background: #00FFFF; /* Changes color */
    width: 2rem;           /* Adjusts width */
}

p{
    font-family: 'Roboto';
}

.cyan-text{
    color: #00FFFF;
}

.popup {
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    padding-top: 60px;
}
  
.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
  
.close {
    color: #2E2E2E;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.portfolio-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio-header{
    font-family: 'Montserrat';
    font-weight: 400;
}

.portfolio-page{
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 7rem);
    width: 100%;
    padding: 2rem 4rem;
    color: white;
    text-align: center;
}
  
.project-btn {
    background: #8A2BE2;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease;
}
  
.project-btn:hover {
    background: #6A1BBF;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
.project-card {
    background: #FFF;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.project-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}
  
.projects-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.project-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: #CCCCCC;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}
    
.project-title {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: #2E2E2E;
}

.section-divider {
    border-top: 1px solid #CCCCCC; /* Thin divider with gray color */
    margin: 40px 0;
    width: 100%; /* Adds space above and below the divider */
}
  