iframe {
    width: 100%;
    max-width: 900px; /* Prevents it from becoming too wide on large screens */
    min-height: 300px; /* Ensures it's not too short on small screens */
}

.cyan-text{
    color: #00FFFF;
}

.resume-page{
    background-color: #2E2E2E;
    padding: 2rem 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    min-height: calc(100vh - 7rem);
}

@media (max-width: 768px) {
    .resume-page {
        padding: 1.5rem 2rem; /* Reduce padding for smaller screens */
    }
}